<div align="center" class="blueBigText">
  <p>Выберете один из сценариев: </p>
</div>

<form>
  <p><input type="search" name="qrequest" placeholder="Введите название сценария" class="graySmallText"
            class="bigWidth">
    <input type="submit" name="search" value="Поиск" class="buttonStile"></p>
</form>

<table width="100%" cellspacing="0" cellpadding="2">
  <tr>
    <td>

      <table width="75%" cellspacing="0" cellpadding="2">
        <tr>
          <td>
            <div class="container">
              <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" alt="Sticker"
                   style="width:100%;">
              <div class="text-block">

                <a routerLink="/excourse">Git first commit</a>
              </div>
            </div>
          </td>
          <td>
            <div class="container">
              <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" alt="Sticker"
                   style="width:100%;">
              <div class="text-block">
                <a routerLink="/excourse">...</a>
              </div>
            </div>
          </td>
          <td>
            <div class="container">
              <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" alt="Sticker"
                   style="width:100%;">
              <div class="text-block">
                <a routerLink="/excourse">...</a>
              </div>
            </div>
          </td>
          <td>
            <div class="container">
              <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" alt="Sticker"
                   style="width:100%;">
              <div class="text-block">

                <a routerLink="/excourse">...</a>
              </div>
            </div>
          </td>
        </tr>
        <br>
        <br>
        <tr>
          <td>
            <div class="container">
              <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" alt="Sticker"
                   style="width:100%;">
              <div class="text-block">

                <a routerLink="/excourse">...</a>
              </div>
            </div>
          </td>
          <td>
            <div class="container">
              <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" alt="Sticker"
                   style="width:100%;">
              <div class="text-block">
                <a routerLink="/excourse">...</a>
              </div>
            </div>
          </td>
          <td>
            <div class="container">
              <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" alt="Sticker"
                   style="width:100%;">
              <div class="text-block">
                <a routerLink="/excourse">...</a>
              </div>
            </div>
          </td>
          <td>
            <div class="container">
              <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" alt="Sticker"
                   style="width:100%;">
              <div class="text-block">

                <a routerLink="/excourse">...</a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </td>


    <td>
      <p class="graySmallWidthText">Фильтры</p>
      <p class="graySmallWidthUnderText">По категории</p>
      <form method="post" action="">
        <p class="graySmallWidthText"><input type="checkbox" name="topic" value="docker"> Docker</p>
        <p class="graySmallWidthText"><input type="checkbox" name="topic" value="git" checked> GIT</p>


        <p class="graySmallWidthUnderText">По прохождению</p>
        <p class="graySmallWidthText"><input type="checkbox" name="isFinished" value="true"> Пройденные</p>
        <p class="graySmallWidthText"><input type="checkbox" name="isFinished" value="false" checked> Непройденные</p>
        <p class="graySmallWidthUnderText">По автору</p>
        <p class="graySmallWidthText"><input type="checkbox" name="author" value="userId"> Я автор</p>
        <p class="graySmallWidthText"><input type="checkbox" name="author" value="!userId" checked> Я не автор</p>
        <p><input type="submit" value="Отправить" class="buttonStile"></p>
      </form>
    </td>
</table>


