<div align="center" class="blueBigText">
  <p>Регистрация </p>
</div>

<div align="center" class="grayBigText">
  <p>Для регистрации, пожалуйста, заполните следующие данные:</p>
</div>

<div>

  <table width="100%" cellspacing="0" cellpadding="4">
    <tr>
      <td>
        <img src="https://sun9-42.userapi.com/c857528/v857528994/109b7c/HN8ooYgeDXI.jpg" width="452" height="270"
             alt="Registration" align="left" vspace="10" hspace="50">
      </td>

      <td>
        <form name="test" method="post" action="" align="top">

          <table width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <td align="right" width="100" class="grayBigText">Имя</td>
              <td><input type="text" name="userName" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="100" class="grayBigText">Фамилия</td>
              <td><input type="text" name="userSurname" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="100" class="grayBigText">Электронная почта</td>
              <td><input type="text" name="userEmail" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="100" class="grayBigText">Пароль</td>
              <td><input type="text" name="userPassword" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="100" class="grayBigText">Подтверждение пароля</td>
              <td><input type="text" name="userPasswordConfirmation" size="60"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Зарегистрироваться" class="buttonStile"></td>
            </tr>
          </table>

        </form>
      <td>
    </tr>
  </table>
</div>

<div align="center" class="blueBigText">
  <p>Также Вы можете войти с помощью</p>
</div>

<div class="centerLocation">
  <form action="">
    <p>
      <button class="buttonStile">Аккаутн Google</button>
      <button class="buttonStile">Аккаутн GUTlab</button>
      <button class="buttonStile">Аккаутн GIT</button>
    </p>
  </form>
</div>
