<div align="center" class="blueBigText">
  <p>Это ваш профиль, [Имя пользователя]! </p>
</div>

<img src="https://sun9-30.userapi.com/c857528/v857528994/109b94/m8jV6L0XxzU.jpg" width="382" height="400" alt="User profile"
     align="left" vspace="10" hspace="50">
<div>

  <br>

  <div class="graySmallText"> Вы можете:</div>
  <br>
  <a routerLink="/allcourse" class="graySmallText">- пройти курс</a>
  <br>
  <a routerLink="/changepass" class="graySmallText">- изменить пароль</a>
  <br>
  <a routerLink="/changeinfo" class="graySmallText">- изменить личные данные</a>
  <br>
  <a routerLink="/allcourse" class="graySmallText">- просмотреть список пройденных курсов</a>
  <br>
  <a routerLink="/allcourse" class="graySmallText">- просмотреть список созданных курсов</a>
  <br>
  <a routerLink="/newcoure" class="graySmallText">- создать курс</a>
  <br>
  <a routerLink="/home1" class="graySmallText">- выйти из системы</a>
  <br>
  <br>
  <br>
  <div class="graySmallText"> Для этого нажмите на нужную строку выше!</div>
</div>
