.blueBigText {
    font-size: 28px;
    background: #FFF;
    color: #396EA5;
    font-family: Calibri Light;
     }


.graySmallText {
    font-family: Calibri Light;
    font-size: 20px;
    background: #FFF;
    color: #666666;
    margin-right:10%;
    margin-left:10%;
     }
