<div align="center" class="blueBigText">
  <p>Вход в личный профиль </p>
</div>


<div>
  <table width="100%" cellspacing="0" cellpadding="4">
    <tr>
      <td>
        <img src="https://sun9-18.userapi.com/c857528/v857528994/109bd6/2DhiGtwkW5c.jpg" width="350" height="300"
             alt="Login" align="left" vspace="10" hspace="50">
      </td>

      <td>
        <div align="center" class="grayBigText">
          <p>Для входа, пожалуйста, введите:
          </p>
        </div>
        <form name="test" method="post" action="" align="top">

          <table width="100%" cellspacing="0" cellpadding="4">

            <tr>
              <td align="right" width="100" class="grayBigText">Электронная почта</td>
              <td><input type="text" name="userEmail" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="100" class="grayBigText">Пароль</td>
              <td><input type="text" name="userPassword" size="60"></td>
            </tr>

            <tr>
              <td></td>
              <td>
                <p><input type="submit" class="buttonStile">
                  <button class="buttonStile"><a routerLink="/forgotpass">Забыли пароль</a></button>
                </p>
              </td>
            </tr>
          </table>

        </form>
      <td>
    </tr>
  </table>
</div>

<div align="center" class="blueBigText">
  <p>Также Вы можете войти с помощью</p>
</div>

<div class="centerLocation">
  <form action="">
    <p>
      <button class="buttonStile">Аккаутн Google</button>
      <button class="buttonStile">Аккаутн GUTlab</button>
      <button class="buttonStile">Аккаутн GIT</button>
    </p>
  </form>
</div>
