<div align="center" class="blueBigText">
  <p>Наши контакты </p>
</div>

<img src="https://sun9-9.userapi.com/c857528/v857528994/109bcd/uVZWPZdQUBo.jpg" width="482" height="300" alt="Question"
     align="left" vspace="10" hspace="50">
<div>

  <br>
  <div class="grayBigText"> Если у вас возникли вопросы по работе портала, регистрации, созданию курсов или другие
    организационно-технические вопросы, пожалуйста, свяжитесь с нами.
  </div>
  <br>
  <div class="grayBigText"> Наша почта: mail@mail.ru</div>
  <br>
  <div class="grayBigText"> Благодарим вас за предоставленную обратную связь!
    Все обращения, поступившие на почту, будут рассмотрены в течение 5 рабочих дней.
  </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="centerLocation">
  <form>
    <p>
      <button class="buttonStile"><a routerLink="/home1">На главную</a></button>
      <button class="buttonStile"><a routerLink="/allcourse">Все курсы</a></button>
    </p>
  </form>
</div>
