<div class="topnav">
  <nav>
  <a routerLink="/home1" routerLinkActive="active">Главная</a>
  <a routerLink="/contact" routerLinkActive="active">Контакты</a>
  <a routerLink="/changecourse" routerLinkActive="active">Изменить сценарий</a>
  <a routerLink="/createcourse"  routerLinkActive="active">Создать сценарий</a>
  <a routerLink="/allcourse"  routerLinkActive="active">Все сценарии</a>
  <a  routerLink="/registration" routerLinkActive="active">Регистрация</a>
  <a routerLink="/login"  routerLinkActive="active">Войти</a>
    <a routerLink="/userprofile"  routerLinkActive="active">Профиль пользователя</a>
  <img src="https://sun9-30.userapi.com/c857528/v857528994/109ba4/n2WOrHlyOXU.jpg" width="205" height="" alt="logo">
    </nav>
  <router-outlet></router-outlet>
</div>


<!--<app-startofcourse></app-startofcourse>-->
<!--<app-exampleofcourses></app-exampleofcourses>-->
<!--<app-allcourses></app-allcourses>-->
<!--<app-endofcourse></app-endofcourse>-->
<!--<app-changecoure></app-changecoure>-->
<!--<app-createcourse></app-createcourse>-->
<!--<app-changepass></app-changepass>-->
<!--<app-changeinfo></app-changeinfo>-->
<!--<app-userprofile></app-userprofile>-->
<!--<app-forgotpass></app-forgotpass>-->
<!--<app-login></app-login>-->
<!--<app-registration></app-registration>-->
<!--<app-contact></app-contact>-->
<!--<app-home></app-home>-->



