<div align="center" class="blueBigText">
  <p>Изменение личных данных </p>
</div>

<div align="center" class="grayBigText">
  <p>Для изменения личных данных, выберете нужное поле, внесите корректное значение и нажмите кнопку "Cохранить"
  </p>
</div>

<div>

  <table width="100%" cellspacing="0" cellpadding="4">
    <tr>
      <td>
        <img src="https://sun9-25.userapi.com/c857528/v857528994/109b9d/LCjGIckERQQ.jpg" width="482" height="300"
             alt="Change information" align="left" vspace="10" hspace="50">
      </td>

      <td>
        <form name="test" method="post" action="" align="top">

          <table width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <td align="right" width="100" class="grayBigText">Имя</td>
              <td><input type="text" name="userName" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="100" class="grayBigText">Фамилия</td>
              <td><input type="text" name="userSurname" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="100" class="grayBigText">Электронная почта</td>
              <td><input type="text" name="userEmail" size="60"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Сохранить" class="buttonStile"></td>
            </tr>
          </table>

        </form>
      <td>
    </tr>
  </table>
</div>
