<div align="center" class="blueBigText">
  <p>Первый commit [Название курса] </p>
</div>


<div>
  <table width="100%" cellspacing="0" cellpadding="4">
    <tr>
      <td>
        <img src="https://sun9-63.userapi.com/c857432/v857432478/faf2b/AybHaSRS8Gk.jpg" width="220" height="220"
             alt="Sticker" vspace="10" hspace="50">
        <div class="grayBigText">
          <p>Автор курса - Гуру99</p>
          <p>Сложность - 1 балл</p>
          <p>ID курса - 92312310</p>
        </div>
      </td>

      <td>
        <div align="left" class="grayBigText">
          <p>Информация о курсе - данный курс предназначен для ознакомления пользователя с основами системы контроля
            версий GIT.</p>

          <p>В данном сценарии пользователи смогут достичь следующие цели:</p>

          <p>- ознакомиться с командами init, status, . add, commit</p>
          <p>- по окончанию сценария будет сделаны первые изменения в системе GIT</p>
        </div>

    <tr>
      <td></td>
      <td>
        <button class="buttonStile"><a routerLink="/startcourse">Начать прохождение сценария</a></button>
        <br>
        <button class="buttonStile"><a routerLink="/changecourse">Изменить сценарий</a></button>
        <p class="grayBigText">Отзовы:</p>
        <table width="100%" cellspacing="0" cellpadding="4" class="board">
          <tr>
            <td>
              <p class="grayBigText">[Автор]</p>

            </td>
            <td>
              <p class="grayBigText">[Отзыв]</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

