<div align="center" class="blueBigText">
  <p>Изменение пароля </p>
</div>

<div align="center" class="grayBigText">
  <p>Для изменения пароля, пожалуйста, введите:
  </p>
</div>

<div>

  <table width="100%" cellspacing="0" cellpadding="4">
    <tr>
      <td>
        <img src="https://sun9-63.userapi.com/c857528/v857528994/109bf7/o1IZHVxtIcQ.jpg" width="482" height="300"
             alt="Change password" align="left" vspace="10" hspace="50">
      </td>

      <td>
        <form name="test" method="post" action="" align="top">

          <table width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <td align="right" width="150" class="grayBigText">Старый пароль</td>
              <td><input type="text" name="userPassword" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="150" class="grayBigText">Новый пароль</td>
              <td><input type="text" name="userNewPassword" size="60"></td>
            </tr>
            <tr>
              <td align="right" width="150" class="grayBigText">Подтвердите новый пароль</td>
              <td><input type="text" name="userNewPasswordConfirmation" size="60"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Изменить пароль" class="buttonStile"></td>
            </tr>
          </table>

        </form>
      <td>
    </tr>
  </table>
</div>
